
#slide ul,
#slide ol {
    text-align: left;
    margin-left: 32px;
}

#slide ol {
  list-style: none;
  counter-reset: slide-ol-counter;
}

#slide ol li {
  counter-increment: slide-ol-counter;
  margin-bottom:0.5em;
}

#slide ol li::before {
  content: "0" counter(slide-ol-counter) ".";
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0.5rem;
  letter-spacing:1px;
  font-family: var(--heading-font-family);
  line-height: 1;
  position:relative;
  top:0.1em;
}

blockquote {
  font-size: 120%;
  font-weight: bold;

  width: 50vw;

  text-align: left;
}

@media (max-width: 900px) {
  blockquote {
    width: 90vw;
  }
}

blockquote div::before {
  content: '\\201C';
}

blockquote div::after {
  content: '\\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\\2014\\00a0';
}

pre {
  font-size: 0.75em !important;

  display: inline-block;
  overflow-x: scroll;

  margin: 2rem 0;

  text-align: left;

  color: var(--accent);
}

code {
  font-family: menlo, monospace;
}

a:hover {
  color: var(--accent);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 200%;

  margin-bottom: 0.5rem;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 120%;

  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header {
  font-size: 50%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  user-select: none;
}

header a,
time {
  text-decoration: none;

  color: var(--meta);
}

header a:hover {
  color: var(--meta);
}

header span {
  color: var(--text);
}